/* место для вашего кода */
.header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    padding: 92px 62px 96px 24px;
    background-color: #fff;
    width: 100%;
    max-width: 1052px;
    margin: auto;
}

.header_links-list {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    gap: 30px;
    padding-top: 44px;
    padding-left: 2px;
}

.header-link {
    text-decoration: none;
}

.header_logo {
    display: block;
    margin: auto;
    width: 136px;
    height: 105px;
    position: relative;
    left: 19px;
}

.header_links-list-item_no-bullet{
    list-style: none; 
}
    
.header_list-item {
    list-style: circle;
    letter-spacing: 1%;
    text-underline-offset: 4px;
    padding-left: 4px;
}

.address {
  display: block;  
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 5px;
  line-height: 24.3px;
  letter-spacing: 1%;   
  justify-self: end;  
  align-self: end;     
}

.cover{
    min-height: 757px;
    width: 1100px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 8;
    background-color: rgb(0,0,0,0.6);  
}

.cover_tittle {
    display: block;
    width: 100%;
    color: #fff;
    font-weight: 700;
    font-size: 100px;
    line-height: 115px;
    padding: 165px 50px 147px;
}

.letter-spacing-extended {
    letter-spacing: 0.6em
}

.no-letter-spacing {
    letter-spacing: 0em;
}

.aligned-text {
    display: block;
    text-align: left;
    letter-spacing: 0.3em;
}

.aligned-text_center {
    display: block;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0.3em;
}

.aligned-text_right {
    display: block;
    text-align: right;
    line-height: 1;
    letter-spacing: 0.3em;
}

.cover_description {
    display: flex;
    gap: 79px;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    word-spacing: 17px;
    text-transform: uppercase;
    padding-left: 78px;
}

.cover_description-text-second {
    word-spacing: 18px; 
}

.bet-button {
    background-color: transparent;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.38px;
    text-transform: uppercase;
    border: 2px solid #fff;
    min-height: 51px;
    min-width: 256px;
    position: relative;
    top: -12px;  
}

.lots {
    width: 1052px;
    margin: auto;
    padding-top: 179px;
}

.lots_heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-transform: uppercase;
    padding-left: 40px;
    padding-bottom: 27px;
}

.lots_card-list {
    display: flex;
    gap: 25px;
    position: relative;
    z-index: 1;
}

.card {
    width: 334px;
    min-height: 563px;
    display: flex;
    position: relative;
    z-index: 1;
    background: no-repeat center / cover;
    width: 100%;
}

.card-link {
    display: flex ;
    text-decoration: none;
    padding: 51px 40px 48px;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.card_tittle {
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
}

.card_text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg); 
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots_look-more-link {
    display: block;
    padding-top: 30px;
    padding-left: 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px; 
    text-underline-offset: 4px;
}

.about {
    width: 1052px;
    margin: auto;
    margin-top: 146px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.about_logo {
    padding-top: 35px;
    padding-left: 47px;
}

.about_logo-link {
    border-radius: 240px;
    width: 240px;
    height: 240px;
    background-color: black;
    display: grid;
    justify-content: center;
    align-content: center;    
}

.about_logo_image {
    width: 148px;
    height: 114px; 
}

.about_column {
    width: 693px;
    padding-top: 135px;
    padding-left: 8px;
}

.about_tittle {
    display: block;
    padding-top: 3px;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-transform: uppercase;
}

.about_text {
    display: block;
    padding-top: 98px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 4%;
}

.about_text_part_second {
    padding-top: 24px;
    font-size: 20px;
}

.footer {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 180px;
    width: 1000px;

}

.footer_menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer_menu-list-item {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: center;
    padding-left: 43px;
    text-underline-offset: 3px;
    padding-top: 1px;
}

.footer_menu-link_active {
    text-decoration: none;
}

.footer_social-list {
    display: flex;
    gap: 48px;
    list-style: none;
}

.footer_social-icon {
    width: 48px;
}